.footer__container{
    display: flex;
    justify-content: space-between;
    max-width: 1060px;
}
.footer-links__container{
    display: flex;
    gap: 35px;
}
.logo__img{
    width: 176px;
    height: 51px;
}
.footer__links{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-weight: 500;
    font-size: 15px;
}
.footer__links a{
    color: #464646;
}
.footer__links p:hover{
    color:#578bcf !important;
}
.footer__form{
    width: 560px;
    display: flex;
    flex-direction: column;
}
.footer__form p{
    margin-bottom: 10px;
    font-weight: 700;
}
.form__input{
    width: 100%;
    height: 40px;
    border: none;
    padding: 10px 15px;
    margin-bottom: 15px;
    box-shadow: 0px 1px 2px rgba(150, 150, 150, 0.5);
    outline: none;
    font-size: 14px;
    color: grey;
}
.form__input::placeholder{
    color: #A2A2A2;
}
#form-message{
    padding: 25px 0 50px 15px;
}
.form-submit{
    width: 140px;
    height: 45px;
    background-color: rgb(42, 122, 228);
    color: white;
    border: none;
    font-family: inherit;
}
.form-submit:hover{
    cursor: pointer;
    background-color: rgba(42, 123, 228, 0.85);
}
.form-submit:active{
    background-color: #1254aa;
}
.footer__author{
    text-align: center;
    padding: 30px 0;
}
.footer__author p{
    padding-bottom: 5px;
}

@media screen and (max-width: 1060px){
    .footer__form{
        width: 450px;
    }
}
@media screen and (max-width: 960px){
    .logo__img{
        width: 155px;
        height: 51px;
    }
    .footer-links__container{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .footer__links{
        width: 350px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: center;
        gap: 25px;
    }
    .footer__form{
        width: 370px;
    }
}
@media screen and (max-width: 820px){
    .footer__container{
        gap: 30px;
    }
}
@media screen and (max-width: 720px){
    .footer__container{
        flex-direction: column;
        gap: 55px;
        align-items: center;
    }
    .logo__img{
        width: 210px;
    }
    .footer-links__container{
        gap: 40px;
    }
    .footer__links{
        flex-direction: column;
        width: auto;
    }
    .footer__form{
        width: 100%;
        max-width: 400px;
    }
}
@media screen and (max-width: 320px){
    .footer__links{
        width: auto;
    }
}