.banner__container{
    width: 1500px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}
.banner__container ul{
    display: flex;
}
.banner__img{
    width: 1500px;
    height: 340px;
    background-position: center;
    background-size: cover;
}
.banner__img-container{
    width: 100%;
    transition: 0.75s all ease;
}
.banner__img-container:first-child{
    transition: 0.75s all ease;
    animation: translate forwards infinite 20s;
}
#banner__img-1{
    background-image: url(../assets/main-banner-1.jpg);
}
#banner__img-2{
    background-image: url(../assets/main-banner-2.png);
}
#banner__img-3{
    background-image: url(../assets/main-banner-3.jpg);
}
#banner__img-4{
    background-image: url(../assets/main-banner-4.jpg);
}
@keyframes translate {
    0%{
        margin-left: 0px;
    }
    20%{
        margin-left: 0px;
    }
    22.5%{
        margin-left: -100%;
    }
    42.5%{
        margin-left: -100%;
    }
    45%{
        margin-left: -200%;
    }
    65%{
        margin-left: -200%;
    }
    67.5%{
        margin-left: -300%;
    }  
    87.5%{
        margin-left: -300%;
    }
    90%{
        margin-left: 0;
    }
    100%{
        margin-left: 0;
    }
}
.main-index__category{
    margin-bottom: 30px;
}
.main-index__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}
.main-index__title{
    font-size: 1.6em;
    font-weight: bold;
    color: rgb(54, 54, 54);
    line-height: 1.1em;
}
.all-products{
    margin-bottom: 25px;
    line-height: 1.1em;
}
.main-index__see-list{
    display: flex;
    gap: 10px;
    align-items: center;
}
.main-index__see-list__title, .main-index__new-product{
    color: dodgerblue !important;
    font-weight: 700;
    font-size: 0.9em;
}
.main-index__new-product{
    text-align: center;
}
.main-index__see-list__title:hover, .main-index__products--link:hover,
.main-index__new-product:hover{
    color: rgb(0, 100, 200) !important;
}
.main-index__see-list__arrow{
    width: 12px;
    height: 12px;
}
.main-index__products--container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    row-gap: 30px;
    justify-content: space-between;
}
.main-index__products{
    width: 190px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px rgb(187, 187, 187);
    transition: 0.25s all;
    position: relative;
}
.main-index__products:hover{
    background-color: white;
    box-shadow: 0px 0px 10px rgb(187, 187, 187);
}
.main-index__products::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 187.83px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    left: 0;
    top: 0;
}
.main-index__products:hover::before{
    background-color: rgba(0, 0, 0, 0.1);
}
.main-index__products--image{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.main-index__products__description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 12px;
    padding-bottom: 10px;
}
.main-index__products--title{
    color: rgb(68, 68, 68);
    font-weight: 500;
    font-size: 15px;
}
.main-index__products--price{
    font-weight: bold;
    color: rgb(54, 54, 54);
}
.main-index__products--price::before{
    content: "$";
}
.main-index__products--title, .main-index__products--price{
    cursor: default;
}
.main-index__products--link{
    color: dodgerblue;
    font-weight: bold;
    font-size: 15px;
}
.bottom__image-box__container{
    margin: 60px 0 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.bottom__image-box{
    width: 600px;
    height: 300px;
    background-position: center;
    position: relative;
    border-radius: 20px;
}
.box1{
    background-image: url(../assets/banner-alt-1.jpg);
}
.box1::before, .box2::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 20px;
}
.box1::before{
    background:linear-gradient(20turn,rgba(118, 118, 253, 0.5) 5%,rgba(238, 130, 238, 0) 35%);
}
.box1::after, .box2::after{
    content: "";
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    height: 93.5%;
    width: 100%;
}
.box1:hover::before{
    background-color: rgba(0, 0, 0, 0.438);
    content: "";
}
.box1:hover::after, .box2:hover::after{
    font-size: 28px;
    color: white;
    text-align: center;
}
.box1:hover::after{
    content: "MEGA SALE";
}
.bottom__image-box__description{
    visibility: hidden;
    color: white;
    position: absolute;
    margin: auto;
    left: 50%;
    top: 45%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 25px;
    line-height: 22px;
    font-size: 15px;
}
.box2{
    background-image: url(../assets/banner-alt-2.jpg);
}
.box2::before{
    background:linear-gradient(20turn,rgba(200, 200, 255, 0.5) 5%,rgba(238, 130, 238, 0) 35%);
}
.box2:hover::before{
    background:linear-gradient(20turn,rgba(200, 200, 255, 0.3) 5%,rgba(238, 130, 238, 0) 35%);
    background-color: rgba(0, 0, 0, 0.438);
    content: "";
}
.box2:hover::after{
    content: "Black Friday";
}
@media screen and (max-width: 1500px){
    .banner__container{
        width: 1290px;
    }
    .banner__img{
        width: 1290px;
        height: 270px;
    }
}
@media screen and (max-width: 1290px){
    .banner__container{
        width: 1060px;
    }
    .banner__img{
        width: 1060px;
        height: 270px;
    }
    #banner__img-1{
        background-position-x: 0px;
    }
    #banner__img-4{
        background-position-x: -70px;
    }
    .main-index__products--container{
        grid-template-columns: auto auto auto auto auto;
    }
    .main-index__products{
        width: 100%;
    }
    .bottom__image-box{
        width: 500px;
        background-size: contain;
        background-position-y: 20px;
    }
}
@media screen and (max-width: 1060px){
    .banner__container{
        width: 960px;
    }
    .banner__img{
        width: 960px;
        height: 310px;
    }
    #banner__img-1{
        background-position-x: -30px;
    }
    #banner__img-4{
        background-position-x: -70px;
    }
    .main-index__products--container{
        grid-template-columns: auto auto auto auto;
    }
    .bottom__image-box{
        background-position: center;
        height: 250px;
    }
}
@media screen and (max-width: 960px){
    .banner__container{
        width: 820px;
    }
    .banner__img{
        width: 820px;
        height: 310px;
    }
    #banner__img-1{
        background-position-x: -30px;
    }
    #banner__img-4{
        background-position-x: -70px;
    }
    .bottom__image-box{
        height: 240px;
        background-position-y: 20px;
    }
    .bottom__image-box{
        width: 400px;
    }
}
@media screen and (max-width: 820px){
    .banner__container{
        width: 720px;
    }
    .banner__img{
        width: 720px;
        height: 280px;
    }
    .main-index__products--container{
        margin-top: 25px;
        grid-template-columns: auto auto auto;
    }
    .main-index__products{
        width: 185px;
    }
    .main-index__products--title{
        font-size: 14px;
    }
    .main-index__products--price{
        font-size: 15px;
    }
    .bottom__image-box__container{
        flex-direction: column;
        align-items: center;
    }
    .bottom__image-box{
        width: 100%;
        max-width: 560px;
        background-size: contain;
        background-position: center;
        height: 275px;
    }
}

@media screen and (max-width: 720px){
    .banner__container{
        width: 100%;
    }
    .banner__img{
        width: 100vw;
    }
    .main-index__products{
        width: 175px;
    }
    .main-index__products--container{
        column-gap: 10px;
    }
}
@media screen and (max-width: 610px){
    .banner__img{
        height: 220px;
    }
    #banner__img-1{
        background-position-x: -40px;
    }
    .main-index__header{
        justify-content: space-between;
    }
    .main-index__title{
        font-size: 1.7em;
    }
    .all-products{
        width: 95%;
        margin: 0 auto;
    }
    .main-index__products--container{
        grid-template-columns: auto auto;
        justify-content: space-evenly;
    }
    .main-index__products{
        width: 160px;
        max-height: 300px;
    }
    .main-index__products__description{
        padding-bottom: 0;
    }
    .bottom__image-box{
        max-width: 410px;
        height: 200px;
        background-position-y: 5px;
    }
    .box1::after, .box2::after{
        align-items: initial;
        top: 30%;
    }
    .bottom__image-box__description{
        top: 35%;
    }
}
@media screen and (max-width: 425px){
    .banner__img{
        height: 195px;
    }
    .main-index__header{
        padding: 0 10px;
    }
    .main-index__products {
        width: 150px;
    }
    .bottom__image-box{
        width: 94vw;
        background-position-y: 18px;
    }
    .bottom__image-box__description{
        width: 250px;
    }
}
@media screen and (max-width: 320px){
    .banner__img{
        height: 180px;
    }
    .main-index__header{
        gap: 5px;
    }
    .main-index__see-list{
        gap: 2px;
    }
    .main-index__see-list__title{
        text-align: center;
    }
    .main-index__products--container{
        grid-template-columns: auto;
    }
    .bottom__image-box{
        width: 92vw;
        height: 180px;
    }
    .bottom__image-box__description{
        width: 250px;
    }
}